<div class="search-container rounded-2xl xl:rounded-3xl bg-white/35 px-2.5 py-1 xl:px-4 xl:py-2 backdrop-blur-lg w-full hidden lg:flex items-center justify-between">
    <div class="flex items-center px-2 py-4 gap-5 grow font-main font-normal text-white/70 text-base">
      <div class="search-group flex gap-2 grow shrink">
        <img class="w-6 aspect-square" src="assets/search-icon.png" alt="">
        <label class="w-full" ><input class="outline-none w-full" type="text" placeholder="Search destinations, hotels"></label>
      </div>
      <div class="filter-group">
        <ul class="flex items-center  whitespace-nowrap">
          <li class="px-6 xl:px-10 flex justify-center items-center gap-2">
            <img src="assets/calender.png" alt="">
            <span class="">Check In</span>
          </li>
          <li class="px-6 xl:px-10 flex justify-center items-center gap-2">
            <img src="assets/calender.png" alt="">
            <span class="">Check Out</span>
          </li>
          <li class="px-6 xl:px-10 flex justify-center items-center gap-2">
            <img src="assets/pricetag.png" alt="">
            <span class="">Filter by Budget</span>
          </li>
        </ul>
      </div>
    </div>
    <button class="px-4 py-1.5 xl:px-12 xl:py-2.5 bg-white text-[#141414] rounded-2xl font-main text-base font-normal">Search</button>
  </div>