<div class="p-5 rounded-4xl font-subscribe overflow-hidden">
    <div class="wrapper py-1">
        <h6 class="font-medium text-5xl break-words w-min leading-14 text-[#121] mb-5   ">Subscribe Newsletter</h6>
        <div class="sub-title text-[#121]">
            <p class="opacity-80 font-bold text-xl mb-2">The Travel</p>
            <div class="opacity-70 font-medium">Get inspired! Receive travel discounts, tips and behind the scenes stories.</div>
        </div>
        <div class="subscribe flex items-center justify-between gap-4">
            <input class="px-6 py-4 grow border-1 border-[#121]/80 rounded-lg focus:outline-none leading-normal text-[#1C1B1F]"
                placeholder="Your email address" type="text">
            <button class="px-6 bg-[#8DD3BB] self-stretch text-[#141414] rounded-lg font-medium">Subscribe</button>
        </div>        
    </div>
</div>