<nav #nav class="bg-[#141414]">
    <div class="flex justify-between items-center">
      <!-- logo container -->
      <ul class="flex gap-4 items-center">
        <li class="pr-4 border-r border-white">
          <img class="w-12" src="./favicon.ico" alt="logo">
        </li>
        <li>
          <h2 class="text-base leading-none font-logo font-bold text-white flex flex-col">
            <span class="text-[#01A4DD]">Tour</span>
            Associates
          </h2>
        </li>
      </ul>
      <!-- /logo container -->

      <!-- nav items -->
       <ul class="nav-container text-white font-main font-normal text-sm flex gap-4 brightness-80" >
        <li class="active-link">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Stays</a>
        </li>
        <li>
          <a href="#">Flights</a>
        </li>
        <li>
          <a href="#">Packages</a>
        </li>
        <li>
          <a href="#">Sign Up</a>
        </li>
       </ul>
      <!-- /nav items -->
    </div>
  </nav>