<main class="relative w-full  h-dvh bg-amber-300 bg-contain bg-no-repeat bg-blend-darken">
  <nav class="absolute inset-x-0 left-0">
    <div class="flex justify-between items-center px-8 py-6">
      <!-- logo container -->
      <ul class="flex gap-4 items-center">
        <li class="pr-4 border-r border-white">
          <img class="w-12" src="./favicon.ico" alt="logo">
        </li>
        <li>
          <h2 class="text-base leading-none font-logo font-bold text-white flex flex-col">
            <span class="text-[#01A4DD]">Tour</span>
            Associates
          </h2>
        </li>
      </ul>
      <!-- /logo container -->

      <!-- nav items -->
       <ul class="nav-container text-white font-main font-normal text-sm flex gap-4 brightness-80" >
        <li class="active-link">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Stays</a>
        </li>
        <li>
          <a href="#">Flights</a>
        </li>
        <li>
          <a href="#">Packages</a>
        </li>
        <li>
          <a href="#">Sign Up</a>
        </li>
       </ul>
      <!-- /nav items -->
    </div>
  </nav>ṭ

  <section class="absolute bottom-10 inset-x-32 flex flex-col gap-16">
    <h4 class="font-main flex flex-col text-7xl leading-tight font-bold text-white"><span>The whole world</span> <span>awaits.</span></h4>

    <div class="search-container rounded-2xl xl:rounded-3xl bg-white/35 px-2.5 py-1 xl:px-4 xl:py-2 backdrop-blur-lg w-full hidden lg:flex items-center justify-between">
      <div class="flex items-center px-2 py-4 gap-5 grow font-main font-normal text-white/70 text-base">
        <div class="search-group flex gap-2 grow shrink">
          <img class="w-6 aspect-square" src="assets/search-icon.png" alt="">
          <label class="w-full" ><input class="outline-none w-full" type="text" placeholder="Search destinations, hotels"></label>
        </div>
        <div class="filter-group">
          <ul class="flex items-center  whitespace-nowrap">
            <li class="px-6 xl:px-10 flex justify-center items-center gap-2">
              <img src="assets/calender.png" alt="">
              <span class="">Check In</span>
            </li>
            <li class="px-6 xl:px-10 flex justify-center items-center gap-2">
              <img src="assets/calender.png" alt="">
              <span class="">Check Out</span>
            </li>
            <li class="px-6 xl:px-10 flex justify-center items-center gap-2">
              <img src="assets/pricetag.png" alt="">
              <span class="">Filter by Budget</span>
            </li>
          </ul>
        </div>
      </div>
      <button class="px-4 py-1.5 xl:px-12 xl:py-2.5 bg-white text-[#141414] rounded-2xl font-main text-base font-normal">Search</button>
    </div>

    <div class="top-categories">
      <h6 class="mb-10 text-white font-[Helvetica] font-bold text-4xl">Top categories</h6>
      <ul class="font-main font-normal text-white/80 text-base flex justify-around overflow-hidden overflow-x-auto">
        @for (item of items; track item) {
          <li class="px-4 max-w-min">
            <div class="mb-2.5">
              <img class="block m-auto" src="assets/beaches.png" alt="beaches">
            </div>
            <p class="leading-none">Beaches</p>
          </li>
        }

      </ul>
    </div>
  </section>
</main>

<router-outlet></router-outlet>