main > section:first-child {
    background: url(/assets/background.jpeg);
    background-size: 100% 100%;
    padding-bottom: min(2rem, 96px);
    padding-inline: min(4rem, 10%);
}

main {
    padding-inline: min(4rem, 10%);
}