<div class="min-h-56 rounded-xl shadow-[0px_4px_16px_0px_rgba(17,34,17,0.05)] overflow-hidden" >
    <div class="flex items-stretch w-full flex-wrap">
        <img src="/assets/favourites/one.png" alt="">
        <div class="grow p-6">
            <div class="flex flex-col w-full justify-between gap-6">
                <div class="flex justify-between gap-6">
                    <div class=" text-[#121]">
                        <p class="font-fav text-xl font-bold mb-4">CVK Park Bosphorus Hotel Istanbul</p>
                        <p class="flex items-center gap-1 mb-3">
                            <img class="" src="/assets/location-pointer.png" alt="">
                            <span class="font-mont text-xs font-medium opacity-75">Gümüssuyu Mah. Inönü Cad. No:8, Istanbul
                                34437</span>
                        </p>
                        <div class="flex items-center gap-8 mb-3">
                            <p class="flex items-center gap-0.5s">
                                <img src="/assets/star.png" alt="">
                                <img src="/assets/star.png" alt="">
                                <img src="/assets/star.png" alt="">
                                <img src="/assets/star.png" alt="">
                                <img src="/assets/star.png" alt="">
                                <span class="ml-1 font-mont text-xs font-medium">5 Star Hotel</span>
                            </p>
                            <p class="flex items-center gap-1">
                                <img src="/assets/aminities.png " alt="">
                                <span class="font-mont font-medium text-xs"><b>20+</b> Aminities</span>
                            </p>
                        </div>
                        <p class="text-xs py-2">
                            <span class="px-4 py-2 rounded border border-[#8DD3BB] font-mont font-medium">4.2</span>
                            <span class="ml-1 font-mont text-xs font-medium"><b>Very Good</b> 371 reviews</span>
                        </p>
                    </div>
                    <div class="font-mont">
                        <p class="text-xs font-medium opacity-75">starting from</p>
                        <h4 class="text-2xl text-[#FF8682] font-bold leading-none">$240<span class="text-sm">/night</span></h4>
                        <p class="text-xs font-medium opacity-75 text-right">excl. tax</p>
                    </div>
                </div>
                <div class="w-full border-b border-[#121] opacity-25"></div>
                <div class="flex gap-6 items-stretch">
                    <p class="py-2 px-4 rounded border border-[#8DD3BB]"><img src="/assets/heart.png" alt=""></p>
                    <button class="font-mont text-sm font-semibold grow mx-auto bg-[#141414] rounded text-white">View Place</button>
                </div>
            </div>
        </div>
    </div>
</div>