<footer class="relative pb-8 pt-40 px-12 lg:px-24 flex flex-wrap items-start justify-between bg-[#112211]">
    <div class="company md:w-3/12 mb-6">
        <ul class="flex gap-4 items-center">
            <li class="pr-4 border-r border-white">
              <img class="w-12" src="./favicon.ico" alt="logo">
            </li>
            <li>
              <h2 class="text-base leading-none font-logo font-bold text-white flex flex-col">
                <span class="text-[#01A4DD]">Tour</span>
                Associates
              </h2>
            </li>
          </ul>
    </div>
    <div class="footer-section md:w-9/12 text-[#808080]">
        <div class="font-normal text-sm leading-normal ">
            <div class="flex items-start justify-between flex-wrap gap-6">
                <div>
                    <p class="ga">Seslendirme ve Alt Jazz</p>
                    <p>Media Market</p>
                    <p>Gilpe</p>
                    <p>Size Last</p>
                </div>
                <div>
                    <p>Self Betimes</p>
                    <p>Yatırımcı İpşkileri</p>
                    <p>Size Last</p>
                </div>
                <div>
                    <p>Self Betimes</p>
                    <p>Yatırımcı İpşkileri</p>
                    <p>Size Last</p>
                </div>
                <div>
                    <p>Self Betimes</p>
                    <p>Yatırımcı İpşkileri</p>
                    <p>Size Last</p>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between mb-6">
            <button class="px-2 py-1 md:px-4 md:py-3 border-[#808080] border-1">Helmet KOD</button>
            <ul class="flex gap-5 social-handles">
                <li><img src="/assets/facebook.png" alt=""></li>
                <li><img src="/assets/instagram.png" alt=""></li>
                <li><img src="/assets/twitter.png" alt=""></li>
                <li><img src="/assets/youtube.png" alt=""></li>
            </ul>
        </div>
        <div>
            <span class="text-xs font-light leading-normal">© 1997-2021 Netflix, Inc.</span>
        </div>
    </div>
    <app-news-letter></app-news-letter>
</footer>