/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";

@theme {
    --font-logo: "Readex Pro", sans-serif;
    --font-logo--font-variation-settings: "opsz" 32;
    --font-main: "Rethink Sans", sans-serif;
}

main {
    background: url(assets/background.jpeg);
    background-size: 100% 100%;
}

.nav-container li {
    padding: 4px 12px
}

.active-link {
    border-bottom: 1px solid white;
}

